* {
    font-family: Calibri Light;
    border-style: none;
}

.navbar-inverse, .navbar-fixed-top {
    color: #484848;
}

.navbar-nav > li > .dropdown-menu { 
    background-color: #2a2a2a; 
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #2a2a2a;
    color:#ffffff;
  }

.special {
    color: #484848;
    letter-spacing: 0.03em;
    word-spacing: 0.25em;
}

body {
    background: #121212;
    padding-top: 70px;
}

.header {
    background-color: #2a2a2a;
    border-style: none;
}

.product {
    align-content: center;
}

.product p {
    text-align: center;
    color: white;
}

.desc {
    font-family: Calibri;
    text-align: center;
    font-size: 1.75rem;
    display: block;
    padding: 25px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus, .btn-primary:target {
    font-family: Calibri;
    background-color: #d90000 !important;
    border-radius: 0;
    padding: 12px;
    border: none;
    width: 90%;
    align-items: center;
    margin-left: 5%;
    box-shadow: none;
}

hr {
    width: 90%;
}

#price {
    font-family: Calibri;
    text-align: center;
    font-size: 1.75rem;
    display: block;
}

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
    display: none;
}

#block-id {
    text-align: left;
    align-content: center;
    font-size: 1.58rem;
    color: #9e9e9e;
    width: 92%;
    margin-left: 4.5%;
}

.btn-lg {
    font-family: Calibri;
    border-radius: 0;
    border: none;
    background-color: #d90000;;
    color: white;
}

.about {
    text-align: left;
    font-family: Calibri;
    font-size: 2rem;
}

#info {
    font-family: Calibri;
    padding: 20px;
    
}

#show {
    font-family: Calibri;
    color: white;
}

.specs {
    color: white;
    font-family: Calibri;
    font-size: 2rem;
}

.about_header {
    text-align: left;
    padding-left: 5%;
}

.card-body {
    background-color: #333333;
    width: 90%;
    margin-left: 5%;
}

table {
    color: white;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
    font-family: Calibri Light;
    color: #9e9e9e;
    letter-spacing: 0.04em;
    padding: 5%;
    
}

table th {
    text-align: left; 
    font-family: Calibri Light;
 }
 
.page-footer{
    width: 100%;     
    background: #333333;
    color: white;
    padding: 2%;
    text-align: center;
    position: absolute;
    right: 0; left: 0; bottom: 0;
}

hr {
    border-color: #484848
}

.title {
    font-family: Calibri;
    text-align: left;
    font-size: 1.75rem;
    display: block;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.img-responsive, .center-block {
    width: 80%;
    height: 80%;
}

#paypal-button-container {
    width: 90%;
    align-items: center;
    margin-left: 5%;
}

@media only screen and (min-width: 1000px) {

    .img-responsive, .center-block {
        width: 20%;
        height: 20%;
    }

    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus, .btn-primary:target {
        width: 21%;
        margin-left: 40%;
        margin-top: 2%;
    }

    #paypal-button-container {
        width: 21%;
        margin-left: 40%;
        margin-top: 2%;
    }
}